:host {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

mat-sidenav-container {
  height: calc(100% - 64px);
}

mat-sidenav {
  background-color: #eee;
  width: 20rem;
}

mat-sidenav-content {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
